body {
    background-color: lightblue;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightblue;
}

.columns {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /* border: px solid black; */
    height: 600px;
    width: 100px;
    /* margin: 0 1px 0 px; */
    border-radius: 10px;
    position: relative;
    background-color: white;
    box-sizing: border-box;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    text-align: center;
    font-size: 7em;
    box-sizing: border-box;
    margin-top: 0;
}

#blackCircle {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: black;
    margin: 5px;
}

#redCircle {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: red;
    margin: 5px;
}
#winner {
    display: none;
    box-shadow: 0 0 100px 5px grey;
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    border: solid black 7px;
    border-radius: 50px;
    background-color: rgba(200, 200, 200, 0.75);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 16rem;
}
#board{
    position: absolute;
    z-index: 1;
    width: 700px;
    pointer-events: none;
}